.profile {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 320px 480px 320px;
  grid-template-rows: auto;
  gap: 0px 60px;
  grid-auto-flow: row dense;
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.link {
  margin: 0;
  padding: 22px 0;
  text-decoration: none;
}
.link:hover {
  color: #F2F2F3;
}

.linkActive {
  color: #F2F2F3;
}

.link:last-of-type {
  margin-bottom: 80px;
}

.caption {
  opacity: 0.4; 
}

.buttonBar {
  width: 100%;
  display: none;
}

.view {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}