.resetPassword {
  width: 480px;
  height: auto;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  text-align: center;
}

.link {
  color: #4c4cff;
  cursor: pointer;
  text-decoration: none;
}

.enter {
  margin-bottom: 16px;
}

.error {
  color: red;
}
