.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.imageWrapper {
  height: 240px;
  width: 480px;
}

.name {
  margin-bottom: 32px;
}

.table {
  text-align: center;
  border-spacing: 20px 8px;
}
