
.cards {
  max-height: 464px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.card:last-child {
  margin-bottom: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
